header {
    height: 130px;
    background-image: url(../img/wall.png);
    margin-bottom: 4rem;
    h1 {
        font-size: 95px;
        text-align: center;
    }
}

body {
    background-image: url(../img/cork.png); 
}

.polaroid {

    & > img{
        position: absolute;
        top: -10px ;
        left: 160px;
        
    }

    position: relative;
    height: 450px;
    padding: 26px;
    margin-top: 3rem;
    background-color: white;
    
    .polaroid-img {
        height: 326px;
        
       & > img {
        height: 100%;
        width: 100%;

        }
    }

}

.card-text {
    p {
        color: grey;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}
