header {
    height: 130px;
    background-image: url(../img/wall.png);
    margin-bottom: 4rem;
    h1 {
        font-size: 95px;
        text-align: center;
    }
}

body {
    background-image: url(../img/cork.png); 
}

.polaroid {
    height: 450px;
    /* width: 356px; */
    padding: 15px;
    margin-top: 3rem;
    background-color: white;
    
    #card-img {
        height: 326px;
        background-color: brown;
    }

}px